<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card shadow mt-5 mb-5">
    <div class="card-header bg-primary shadow">
      <h1 class="card-title text-white text-center">Email Send</h1>
    </div>
    <div class="card-body">
      <div class="form-group">
        <%= form.label :email_address %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :subject %>
        <%= form.text_field :subject, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :content %>
        <%= form.text_area :content, rows: 5, class: 'form-control' %>
      <div>
      <div class="form-group mt-4">
        <%= form.label :attachment%>
        <%= form.file_field :attachment %>
      </div>
      <div class="form-group mt-5">
        <%= form.submit "Send Mail", class: 'btn-lg btn-block btn-primary shadow' %>
      </div>
    </div>
  </div>
<% end %>
